
<h2 [class.text-success]="hasError"> test works! </h2>

<h2 [ngClass]="messageClass"> test works! dir </h2>

<h2 [style.color]="'orange'"> test works! style binding </h2>
<h2 [style.color]="hasError ? 'blue': 'red'"> test works! style binding conditional </h2>
<h2 [ngStyle]="titleStyles"> test works! dir </h2>

<input [disabled]="isDisabled" [type]="texType" value={{texVal}}/> <br>
<input bind-disabled="isDisabled" [type]="texType" value={{texVal}}/>

<h1> Event Binding </h1>

<button (click)="onClick($event)"> click me </button> {{greeting}}
<button (click)="greet='inline in click'"> click me </button> {{greet}}

<h1> template reference </h1>
<input #ip type="text" value="vishwas"/>
<button (click)="logMessage(ip.value)"> template ref</button>
